extends layouts/main

block content
    .history__content
        h5.subpage__name history
        h3.subpage__title 주요 연혁
        h3.history__box-date=history.date             
        h5.history__text-title=history.title
        p.history__text-info=history.description
        img(src=`/${history.fileUrl}`)
        a(href=routes.editHistory(history.id)) Edit History