header.header
    .header__box
        .header__wrap
            .header__logo
                a(href=routes.home) BEANZSOFT
            nav.header__nav
                ul.header__menu
                    li.header__menu-item
                        a(href=`/about${routes.vision}`) ABOUT
                        ul.subMenu
                            li.subMenu-item
                                a(href=`/about${routes.vision}`) 비전
                            li.subMenu-item
                                a(href=`/about${routes.history}`) 주요연혁
                    li.header__menu-item
                        a(href=routes.aipen) BUSINESS
                        ul.subMenu
                            li.subMenu-item
                                a(href=routes.aipen) A.I PEN
                            li.subMenu-item
                                a(href=routes.beontteut) 번뜻
                            li.subMenu-item
                                a(href=routes.outsource) 외주개발
                    li.header__menu-item
                        a(href=routes.request) CONTACT
                        ul.subMenu
                            li.subMenu-item
                                a(href=routes.request) 프로젝트 의뢰
                            li.subMenu-item
                                a(href=routes.contact) 오시는 길

